MODE=prod
BOT_TOKEN=replace-with-botfather-token
BOT_TOKEN_TEST=
TELEGRAM_OWNER_ID=645880110
TELEGRAM_ALLOWED_USER_IDS=
TELEGRAM_REPORT_START_DATE=2025-10-13
TELEGRAM_REPORT_AUTHOR_TAG=#АлександрСтепанов
API_URL=http://api:3000/api
API_URL_TEST=http://api:3000/api
API_KEY=replace-with-the-same-value-as-api-env
